<navbar></navbar>
<md-content flex layout-padding layout="column">
  <div flex>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Features</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          This Application Powers Movie Search(OMDBAPI)
        </p>
        <p>
          Display results based on search input
        </p>
        <p>
          Also supports pagination
        </p>
      </md-card-content>
    </md-card>
  </div>
  <div flex>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Technology Stacks</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          This web app is powered by AngularJS, WebPack, SASS, Karma Test Coverage
        </p>
        <p>
          All elements are componentized for further usage.
        </p>
        <p>
          AngularJS: <b>1.7</b>
        </p>
        <p>
          Angular Material: <b>1.1.9</b>
        </p>
      </md-card-content>
    </md-card>
  </div>
  <div flex>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">About Me</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          I am Ken and I have worked as a Senior Web Developer for last 10 years.
        </p>
        <p>
          I wear many hats, and all-around developer.
        </p>
      </md-card-content>
    </md-card>
  </div>
</md-content>