<navbar></navbar>
<md-content flex layout-padding layout="column">
  <div flex>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Liquor Store Search</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div layout="row" layout-xs="column">
          <md-input-container>
            <label>Query</label>
            <input ng-model="$ctrl.query.q">
          </md-input-container>

          <md-input-container>
            <label>Page Size</label>
            <md-select ng-model="$ctrl.query.rows">
              <md-option value="5">
                5
              </md-option>
              <md-option value="10">
                10
              </md-option>
              <md-option value="20">
                20
              </md-option>
              <md-option value="50">
                50
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container>
            <md-button
              class="md-raised md-primary"
              ng-click="$ctrl.search($event)"
              ng-disabled="$ctrl.query.q === '' || $ctrl.isLoading"
            >
              {{ $ctrl.isLoading ? "Searching..." : "Search" }}
            </md-button>
          </md-input-container>
        </div>

        <div layout="row">
          <span class="helpText">Bookmark Current Search Term</span>
          <md-button class="md-icon-button md-accent" aria-label="Bookmark" ng-click="$ctrl.toggleBookmark()">
            <md-icon>{{ $ctrl.isBookmarked() ? "favorite" : "favorite_border"}}</md-icon>
          </md-button>
        </div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Results</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div ng-if="$ctrl.resultCnt === 0">
          <p>
            There are no results.
          </p>
        </div>
        <div ng-if="$ctrl.resultCnt !== 0">
          <p>There're <b>{{ $ctrl.resultCnt }}</b> matching results.</p>
          <md-card ng-repeat="item in $ctrl.results">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{ item.Item_Description_s }}</span>
                <span class="md-subhead">{{ item.Store_Name_s }}</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-actions>
              <md-button ui-sref="detail({id: item._lw_parser_record_number_l})">Show Detail</md-button>
            </md-card-actions>
          </md-card>
          <div flex>
            <md-button
              class="md-primary md-raised"
              ng-click="$ctrl.search($event, 1)"
              ng-disabled="$ctrl.query.page === 1"
            >
              First
            </md-button>
            <md-button
              class="md-primary md-raised"
              ng-click="$ctrl.search($event, $ctrl.query.page - 1)"
              ng-disabled="$ctrl.query.page === 1"
            >
              Prev
            </md-button>
            <span>
              Page No: <b>{{ $ctrl.query.page }}</b>
            </span>
            <md-button
              class="md-primary md-raised"
              ng-click="$ctrl.search($event, $ctrl.query.page + 1)"
              ng-disabled="$ctrl.query.page === $ctrl.totalPage()"
            >
              Next
            </md-button>
            <md-button
              class="md-primary md-raised"
              ng-click="$ctrl.search($event, $ctrl.totalPage())"
              ng-disabled="$ctrl.query.page === $ctrl.totalPage()"
            >
              Last
            </md-button>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
</md-content>
